.selectState:hover{
    cursor:pointer;
    background-color: rgb(50, 59, 65);
    color: white;
}

.district:hover{
    background-color: rgb(54, 70, 80);
    color: white;
}



table {
    width:800px;
    margin-left: auto;
    margin-right: auto;
}
.input:hover{
    background-color: green;
    color: white;
}

input {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}


tbody {
    display:block;
    height:400px;
    overflow:auto;
}
thead, tbody tr {
    display:table;
    width:100%;
    table-layout:fixed;/* even columns width , fix width of table too*/
}
thead {
    width: calc( 100% - 1em )/* scrollbar is average 1em/16px width, remove it from thead width */
}

#myInput {
    
    background-position: 10px 12px; /* Position the search icon */
    background-repeat: no-repeat; /* Do not repeat the icon image */
    width:810px;
    margin-left: 20%;
    margin-right: auto;
    font-size: 16px; /* Increase font-size */
    padding: 12px 20px 12px 40px; /* Add some padding */
    border: 1px solid #ddd; /* Add a grey border */
  }