<div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="card bg-dark my-5">
          <div class="card-body">
            <h2 class="card-title text-center text-white py-3">Covid DashBoard</h2>
          </div>
        </div>
       
      </div>
    </div>
  
  </div>

  <div class="card my-5" *ngIf="districtData!=null">
  <button type="button"  (click)="goBackToState();getStateCovidRecords()">Go Back</button>
  </div>

<div class="card my-5" *ngIf="districtData==null">
    <div class="card-body">
      <table class="table table-bordered table-striped">
        <thead class="thead-dark">
          <tr>
            
            <th scope="col">State</th>
            <th scope="col">Confirmed</th>
            <th scope="col">Active</th>
            <th scope="col">Recovered</th>
            <th scope="col">Deceased</th>
          </tr>
        </thead>
        <tbody>
          <tr  *ngFor="let covid of stateData" (click)="getDistrictCovidData(covid)">
            
          <td>{{ covid.state }}</td>
          <td>{{ covid.confirmed }}</td>
          <td>{{ covid.active }}</td>
           <td>{{ covid.recovered }}</td>
            <td>{{ covid.deaths }}</td>
         
        </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="card my-5" *ngIf="districtData?.length>0">
    <div class="card-body" >
      <table class="table table-bordered table-striped">
        <thead class="thead-dark">
          <tr>
            
            <th scope="col">District</th>
            <th scope="col">Confirmed</th>
            <th scope="col">Active</th>
            <th scope="col">Recovered</th>
            <th scope="col">Deceased</th>
          </tr>
        </thead>
        <tbody>
          <tr  *ngFor="let district of districtData">
            
          <td>{{ district.district }}</td>
          <td>{{ district.confirmed }}</td>
          <td>{{ district.active }}</td>
           <td>{{ district.recovered }}</td>
            <td>{{ district.deceased }}</td>
         
        </tr>
        </tbody>
      </table>
    </div>
  </div>